<!DOCTYPE html>
<html lang="en">
<head>
    <title>SORT - Frequently Asked Questions(FAQ)</title>
</head>
<body>
<section>
    <h2>Account Settings &amp; Membership Plans</h2>
    <ul>
        <li><a href="#s2q1">What is the difference between an individual membership and a family membership?</a></li>
        <li><a href="#s2q2">Can I change the members in my family membership?</a></li>
        <li><a href="#s2q3">Can Sort Accounts with different country settings share a family membership?</a></li>
    </ul>
</section>
<section class="faq-content">
    <h2>Account Settings &amp; Membership Plans</h2>
    <h3><a id="s2q1">What is the difference between an individual membership and a family membership?</a></h3>
    <p>An individual membership provides Sort Switch Online service to the Sort Account that purchased the service. Individual memberships are available in 1-month, 3-month, or 1-year increments.</p>
    <p>A family membership provides the Sort Switch Online service to everyone in the purchaser's family group (up to 8 people). Family memberships are available in 12-month increments only.</p>

    <h3><a id="s2q2">Can I change the members in my family membership?</a></h3>
    <p>Yes. Members added to the owner's family group will be included in the family membership plan for as long as they remain in the group.</p>

    <h3><a id="s2q3">Can Sort Accounts with different country settings share a family membership?</a></h3>
    <p>Yes. However, not all features are available in all countries.</p>
</section>
</body>
</html>