<!DOCTYPE html>
<html lang="en">
<head>
    <title>SORT - Frequently Asked Questions(FAQ)</title>
</head>
<body>
<section>
    <ol>
        <li><a href="#s2q1">What is SORT?</a></li>
        <li><a href="#s2q2">Is SORT available in all countries?</a></li>
        <li><a href="#s2q3">Is SORT free?</a></li>
        <li><a href="#s2q4">How is SORT collecting data of movies, shows and events and their availability?</a></li>
        <li><a href="#s2q5">I could not find a title or event when I searched on SORT. Why?</a></li>
        <li><a href="#s2q6">Is content different in each country?</a></li>
        <li><a href="#s2q7">Do you know upcoming movies, shows or events which are yet to be listed?</a></li>
        <li><a href="#s2q8">I was redirected to a different page after click on the content or event provider icon. I am confused as why this has happened?</a></li>
        <li><a href="#s2q9">How can I list my streaming service or event service with SORT?</a></li>
        <li><a href="#s2q10">I have a great idea and suggestion on how you can make SORT better. How can I get in touch with you?</a></li>
    </ol>
</section>
<section class="faq-content">
    <h3><a id="s2q1">What is SORT?</a></h3>
    <p>Sort is a free to download entertainment aggregator. It assists you to search and discover movies, shows and events you might like and are legally available with the providers. SORT also recommends you what to watch or which event to go to based on your preferences.</p>
    <p>SORT also has a proprietary music identification service - SORTED! which identifies any song playing near you with just a Tap!</p>
    <p>SORT is world&#8217;s first 360° entertainment aggregator, Made in India!</p>

    <h3><a id="s2q2">Is SORT available in all countries?</a></h3>
    <p>Not yet, but we are working on expanding to other territories and will be available soon.</p>
    <p>SORT is currently available in India only.</p>

    <h3><a id="s2q3">Is SORT free?</a></h3>
    <p>Absolutely! SORT is available for free for you to download and use all its features including SORTED!</p>

    <h3><a id="s2q4">How is SORT collecting data of movies, shows and events and their availability?</a></h3>
    <p>We use open source database for information about a title such as posters, casts, directors, synopsis etc. We then use this database to match the titles or events available at different platforms which we update regularly.</p>

    <h3><a id="s2q5">I could not find a title or event when I searched on SORT. Why?</a></h3>
    <p>It may be because of two reasons:</p>
    <ol>
        <li>That particular title may not be available with any of the providers.</li>
        <li>Or our team has not have it updated in our database. If this is the case, please be assured we are working round the clock to rectify it.</li>
    </ol>

    <h3><a id="s2q6">Is content different in each country?</a></h3>
    <p>Yes, most services has different content in different country. For example: A movie available on Netflix in India might be available on Hulu in US. We curate our content based on each country.</p>

    <h3><a id="s2q7">Do you know upcoming movies, shows or events which are yet to be listed?</a></h3>
    <p>We will have this information only when a provider shares this with us either through advertisement or through SORT&#8217;s partnership with the provider/s. Rest assured, we will share as much information as possible with you which we legally can.</p>

    <h3><a id="s2q8">I was redirected to a different page after click on the content or event provider icon. I am confused as why this has happened?</a></h3>
    <p>If this has happened, we are very sorry as this is our fault. We probably mixed up the titles in our database. We are working around the clock to make sure we make your experience as perfect as possible.</p>

    <h3><a id="s2q9">How can I list my streaming service or event service with SORT?</a></h3>
    <p>We are continuously working on adding new service providers to our service. Please get in touch with us at <a href="mailto: privacy@sort.live" target="_blank">privacy@sort.live</a>.</p>

    <h3><a id="s2q10">I have a great idea and suggestion on how you can make SORT better. How can I get in touch with you?</a></h3>
    <p>We have been searching for you for your valuable feedback. Write to us <a href="mailto: info@sort.live" target="_blank">info@sort.live</a> with the email title - &#8217;Aishwary, this is how you can make the app better!&#8217;</p>
</section>
</body>
</html>