<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SORT - Reset Confirmation</title>
    <link href="../static/css/common.css" rel="stylesheet">
</head>
<body>
<script src="../static/js/common.js"></script>
<div class="outer-div">
    <div class="inner-div">
        <h3>Your password has been successfully updated!</h3>
        <h3>Please login now on SORT with your email ID and new password.</h3>
    </div>
    <div>
        <img src="../static/images/sort_logo.png" alt="SORT"/>
    </div>
</div>
</body>
</html>