<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SORT - Error: User not Enabled</title>
    <link href="../static/api/auth/css/common.css" th:href="@{css/common.css}" rel="stylesheet" media="screen">
</head>
<body>
<!-- <script src="../static/js/common.js"></script> -->
<div class="outer-div">
    <div class="inner-div">
        <h3>Please enable the user using signup email sent earlier before resetting the password!</h3>
        <h3>Please check your emails for correct Signup URL</h3>
    </div>
    <div>
        <img src="../static/api/auth/img/sort_logo.png" alt="SORT" th:src="@{img/sort_logo.png}"/>
    </div>
</div>
</body>
</html>