<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SORT - Error: Expired or invalid link</title>
    <link href="../static/css/common.css" rel="stylesheet">
</head>
<body>
<script src="../static/js/common.js"></script>
<div class="outer-div">
    <div class="inner-div">
        <h3>Something went wrong. This link has expired or is incorrect.</h3>
        <h3>Please check your email again for the correct link.</h3>
    </div>
    <div>
        <img src="../static/images/sort_logo.png" alt="SORT"/>
    </div>
</div>
</body>
</html>