<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SORT - SignUp Confirmation</title>
    <link href="../static/api/auth/css/common.css" th:href="@{css/common.css}" rel="stylesheet" media="screen">
</head>
<body>
<!-- <script src="../static/js/common.js"></script> -->
<div class="outer-div">
    <div class="inner-div">
        <h3>Welcome to SORT!</h3>
        <h3>Your email is verified and your account is activated.</h3>
        <h3>You can now login to SORT with your Email ID and Password.</h3>
    </div>
    <div>
        <img src="../static/api/auth/img/sort_logo.png" alt="SORT" th:src="@{img/sort_logo.png}"/>
    </div>
</div>
</body>
</html>