<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SORT - Error: Expired or invalid link</title>
    <link href="../static/api/auth/css/common.css" th:href="@{css/common.css}" rel="stylesheet" media="screen">
</head>
<body>
<!-- <script src="../static/js/common.js"></script> -->
<div class="outer-div">
    <div class="inner-div">
        <h3>Something went wrong. This link has expired or is incorrect.</h3>
        <h3>Please check your email again for the correct link.</h3>
    </div>
    <div>
        <img src="../static/api/auth/img/sort_logo.png" alt="SORT" th:src="@{img/sort_logo.png}"/>
    </div>
</div>
</body>
</html>